@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color-1: #f7f7f7;
  --white-color-2: #fff;
  --black-color-1: #333;
  --black-color-2: #000;
  --icon-color: #666;
  --menu-color: #aaa;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.5);
  --shadow-3: rgb(0 0 0 / 8%);
  --shadow-4: rgb(0 0 0 / 10%);
}

.dark-theme {
  --white-color-1: #000;
  --white-color-2: #333;
  --black-color-1: #fff;
  --black-color-2: #f7f7f7;
  --icon-color: #ccc;
  --menu-color: #777;
  --shadow-1: rgba(255, 255, 255, 0.1);
  --shadow-2: rgba(255, 255, 255, 0.2);
  --shadow-3: rgb(255 255 255 / 8%);
  --shadow-4: rgb(255 255 255 / 10%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--white-color-1);
  color: var(--black-color-2);
}

.wrapper {
  background-color: var(--white-color-2);
  box-shadow: 0 0 128px 0 var(--shadow-1), 0 32px 64px -48px var(--shadow-2);
  width: 450px;
  border-radius: 16px;
}

/* CSS Code for Signup/Login Form */

.form {
  padding: 25px 30px;
}

.form header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.form header h1 {
  font-size: 25px;
  font-weight: 600;
  flex-grow: 1;
}

.form form {
  margin: 20px 0;
}

.form .error-txt {
  color: #721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

.form form .field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background-color: var(--black-color-1);
  color: var(--white-color-2);
  cursor: pointer;
  border-radius: 5px;
}

.form form .field i {
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form form .field i.active::before {
  color: #333;
  content: "\f070";
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: var(--black-color-1);
}

.form .link a:hover {
  text-decoration: underline;
}

/* CSS Code for Users List Page */

.users {
  padding: 25px 30px;
  position: relative;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.users header .content,
.users-list a .content {
  display: flex;
  align-items: center;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

.users header .details,
.users-list a .details {
  margin-left: 15px;
  color: var(--black-color-2);
}

.users header .details span,
.users-list a .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .menu-wrap {
  position: relative;
}

.users .icon {
  font-size: 2em;
  color: var(--icon-color);
  cursor: pointer;
}

.users header .submenu-wrap {
  position: absolute;
  right: -30px;
  width: 180px;
  z-index: 5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.users header .submenu-wrap.open-menu {
  max-height: 195px;
}

.users header .submenu {
  background-color: var(--menu-color);
  padding: 5px 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}

.submenu-link {
  display: flex;
  align-items: center;
  color: var(--black-color-2);
  margin: 5px 0;
}

.submenu-link p {
  width: 100%;
  margin-left: 13px;
}

.submenu-link:hover p {
  font-weight: 600;
}

.submenu-link i {
  font-size: 20px;
}

.submenu-link i:not(.moon, .sun) {
  color: var(--icon-color);
  margin-left: 15px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.users .search input.active {
  opacity: 1;
  pointer-events: auto;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: var(--black-color-1);
  background-color: var(--white-color-2);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.2s ease;
}

.users .search button.active {
  color: var(--white-color-2);
  background-color: var(--black-color-1);
}

.users .search button.active i::before {
  content: "\f00d";
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}

.users-list::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  margin-bottom: 15px;
  page-break-after: 10px;
  padding-right: 15px;
}

.users-list a:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.users-list a .content img {
  height: 40px;
  width: 40px;
}

.users-list a .content p {
  color: #67676a;
}

.users-list .status-dot {
  font-size: 12px;
  color: #468669;
}

/* Use this class name in php to show offline status */

.users-list .status-dot.offline {
  color: #ccc;
}

/* CSS Code for Chat Area Page */

.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.back-icon {
  font-size: 18px;
  color: var(--black-color-1);
}

.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}

.chat-area header .full {
  flex-grow: 1;
}

.chat-box {
  height: 500px;
  overflow-y: auto;
  background-color: var(--white-color-1);
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px var(--shadow-1),
    inset 0 -32px 32px -32px var(--shadow-1);
}

.chat-box::-webkit-scrollbar {
  width: 0;
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px var(--shadow-3), 0 16px 16px -16px var(--shadow-4);
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background-color: var(--black-color-1);
  color: var(--white-color-2);
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}

.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}

.incoming .details p {
  color: var(--black-color-1);
  background-color: var(--white-color-2);
  border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--black-color-1);
  color: var(--white-color-2);
  font-size: 19px;
  cursor: pointer;
}

/* CSS for About and Support page */

.users .about {
  max-height: 350px;
  overflow-y: auto;
  padding: 20px 5px;
}

.users .about::-webkit-scrollbar {
  width: 0;
}

.users .about p,
.users .about h3 {
  margin-bottom: 10px;
}

.users .about .dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users .about .dev img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.users .about a {
  color: var(--icon-color);
}

.users .about h3 > a:hover {
  text-decoration: underline;
}

.users .about .contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.users .about .contact img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.users .about .contact img:hover {
  content: url("images/logo2.png");
}

.users .about .contact a {
  font-size: 30px;
}

/* CSS for Settings page */

.settings {
  max-height: 513px;
  overflow-y: auto;
}

.settings::-webkit-scrollbar {
  width: 0;
}

.settings .back-icon {
  margin-right: 10px;
}

.settings form .field #showPass {
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-100%);
  cursor: pointer;
}

.settings form .hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.settings form .unhide {
  max-height: 70px;
}

.settings form .save {
  width: 180px;
  margin: auto;
}

/* Dark Mode CSS */

#dark-txt {
  cursor: pointer;
}

.users .submenu .dark-toggle {
  display: flex;
  align-items: center;
  margin-bottom: -12px;
}

#dark-txt:hover {
  font-weight: 600;
}

#dark-label {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark-chk {
  position: absolute;
  opacity: 0;
}

#delete {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--white-color-2);
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  background-color: #d61b2d;
}

/* CSS for landing page */

#landing-heading {
  text-align: center;
  font-size: 2rem;
}

#chit {
  display: block;
  font-size: 3rem;
}

#create-btn {
  margin-top: 2rem;
  font-weight: 400;
  background-color: var(--black-color-1);
  color: var(--white-color-2);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
}

#or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

#or::before {
  content: "-- ";
}

#or {
  font-size: 18px;
}

#or::after {
  content: " --";
}

#log-btn {
  font-weight: 400;
  background-color: var(--black-color-1);
  color: var(--white-color-2);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
}

#para {
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 20px;
}

/* Loading Animation */

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white-color-2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
